@charset "UTF-8";
@font-face {
    font-family: "Raleway";
    src: url("../assets/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
    font-weight: normal;
  }
  @font-face {
    font-family: "Raleway";
    src: url("../assets/fonts/Raleway/Raleway-Medium.ttf") format("truetype");
    font-weight: 500;
  }
  @font-face {
    font-family: "Raleway";
    src: url("../assets/fonts/Raleway/Raleway-Light.ttf") format("truetype");
    font-weight: 300;
  }

*{
    margin: 0;
    padding: 0;
}

.navbar a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    gap: 30px;
    background-color: red !important;
    width: 100%;
    padding: 20px 0;
    z-index: 9999;
}

.alingcenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.row-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: black;
    font: 500 normal 1.25rem Raleway, sans-serif;
    color: #fff;
}

.row-block p{
    text-align: center;
    padding: 0 20px;
}
.row-block img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.row-block:nth-child(2){
    background-color: #F78E56;
}

.parteneri-header{
    padding-bottom: 30px;
    gap: 10px;
    font: 500 normal 1.25rem Raleway, sans-serif;

}

.parteneri-header .row{
    margin-top: 20px;
}

.partners .row:nth-child(1) .row-block:nth-child(2){
    background-color: black;
}

.partners .row:nth-child(1) .row-block:nth-child(1){
    background-color: #F78E56;
}

.servicii-head{
    position: relative;
    padding-top: 80px;
}

.instrument{
    position: absolute;
    top: 32%;
    left: 0;
    right: 0;
}

.servicii-header {
    font: 500 normal 1.5rem Raleway, sans-serif;
    line-height: 1.25;
    gap: 10px;
}

.servicii-header .row {
    margin-top: 20px;
}

.top_img img:nth-child(1){
    width: 100%;
    height: 200px;
    object-fit: cover;
}



@media only screen and (max-width: 768px) {
    .row {
        flex-direction: column; 
    }
    .partners,
    .about-section,
    .image-sectio,
    .servicii-head{
        padding-left: 20px;
        padding-right: 20px;
    }
}

.parteneri-text{

    max-width: 1000px;
}

.partners{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    font: 500 normal 1.25rem Raleway, sans-serif;
    gap: 30px;
    margin: 30px auto;
}